.page-header {
  margin: 0;
  background: url("../images/page-title.jpg") center no-repeat;
  background-size: cover;
}
.page-header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 130px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.breadcrumb {
  margin: 0 auto;
  padding: 50px 0;
  background: transparent;
}
.breadcrumb li a,
.breadcrumb .active {
  font-size: 1.2em;
  color: #0b355f;
}
.breadcrumb .active {
  font-weight: bold;
}
.text {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: 700;
  color: #0b355f;
  text-transform: uppercase;
}
.text p,
.text li,
.text span,
.text em,
.text strong {
  font-size: 1.2em;
  line-height: 1.5;
  color: #222;
}
.text ul {
  padding-left: 0;
  list-style: inside disc;
}
.text ul ul {
  padding-left: 15px;
  list-style: inside circle;
}
.text ul ul li {
  font-size: 1em;
}
.text img,
.text video,
.text iframe {
  display: block;
  max-width: 100%;
}
.media {
  display: flex;
  align-items: stretch;
  margin-bottom: 15px;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .media {
    padding: 0 15px;
    text-align: center;
    flex-direction: column;
  }
}
.media:hover .media-left::before {
  opacity: 1;
  visibility: visible;
}
.media-left {
  position: relative;
  display: flex;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .media-left {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
}
.media-left img {
  display: block;
  max-width: 150px;
}
.media-left::before {
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(32,87,144,0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
@media screen and (max-width: 600px) {
  .media-body {
    width: 100%;
  }
}
.media-body time {
  color: #999;
  text-transform: uppercase;
}
.media-body p {
  color: #444;
  font-size: 1.1em;
}
.media-title {
  line-height: 1.5;
}
.notice {
  padding-bottom: 70px;
}
.notice p {
  margin: 30px 0;
}
@media screen and (max-width: 768px) {
  .notice h3 {
    text-align: center;
  }
}
.notice h3 {
  margin: 0 0 25px;
  font-weight: 700;
  color: #205790;
}
.text {
  text-align: justify;
  border-bottom-color: #666;
}
.notice-social {
  width: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: flex-start;
}
.notice-social p {
  margin: 15px 0;
  font-size: 1.2em;
}
.notice-social a {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  transition: all 0.2s;
  background-color: #999;
}
.notice-social a::before {
  margin: 0;
}
.notice-social a:hover {
  background-color: #205790;
}
.popular {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  background: url("../images/page-title.jpg") center no-repeat;
  background-size: cover;
}
.popular a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular a > div {
  padding: 10px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #fff;
}
.popular a > div h4,
.popular a > div small {
  line-height: 0.7;
  color: #fff;
}
.popular a > div h4 {
  margin: 0;
  font-size: 2em;
}
.popular a > div small {
  text-transform: lowercase;
}
.popular p {
  margin: 0;
  margin-left: 10px;
  color: #fff;
}
.news-search {
  padding: 5px;
  border: 1px solid #ddd;
}
.news-search input {
  width: calc(100% - 35px);
  border: none;
  background-color: none;
}
.news-search button {
  border: none;
  background-color: transparent;
  color: #666;
  font-size: 1.2em;
}
.news-banner {
  width: 100%;
  display: block;
}
.news-banner img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=notice.css.map */