.page-header {
  margin: 0;
  background: url("../images/page-title.jpg") center no-repeat;
  background-size: cover;
}
.page-header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 130px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.breadcrumb {
  margin: 0 auto;
  padding-bottom: 50px;
  background: transparent;
}
.breadcrumb.spaces {
  padding: 50px 0;
}
.breadcrumb li a,
.breadcrumb .active {
  font-size: 1.2em;
  color: #0b355f;
}
.breadcrumb .active {
  font-weight: bold;
}
.sidebar .section-title {
  margin: 0;
  padding: 15px 0 15px 20px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  background: #205790;
}
@media screen and (min-width: 768px) {
  .sidebar .section-title {
    font-size: 23px;
    font-weight: bold;
  }
}
.sidebar ul {
  padding: 0;
  list-style: none;
}
.sidebar ul li:not(:last-of-type) {
  border-bottom: 1px #e0e0e0 solid;
}
.sidebar ul a {
  display: block;
  padding: 10px 0 10px 20px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #205790;
}
.sidebar ul a.active {
  font-weight: 700;
}
.sidebar ul a:hover {
  color: #0b355f;
  background-color: rgba(32,87,144,0.05);
}
.product-item {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px #ddd solid;
}
.product-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-cover img {
  max-width: 100%;
}
.product-title {
  margin: 20px 0;
  text-align: center;
  color: #205790;
}
.product-buy,
.product-see {
  position: relative;
  display: block;
  padding: 7px 0;
  font-size: 1em;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.2s;
  background: #00ca6c;
}
.product-buy:hover,
.product-see:hover {
  color: #fff;
  background-color: #00ac5c;
}
.product-buy.is-loading,
.product-see.is-loading {
  color: transparent;
  border-color: #0a63c1;
  background-color: #0a63c1;
}
.product-buy.has-error,
.product-see.has-error {
  border-color: #ff6347;
  background-color: #ff6347;
}
.product-buy.is-loading::before,
.product-see.is-loading::before {
  width: 25px;
  height: 25px;
  content: '';
  top: 50%;
  left: 50%;
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: transparent;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}
.product-see {
  margin-bottom: 5px;
  background-color: #ff9e0f;
}
.product-see:hover {
  background-color: #e68900;
}
.pagination {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
.pagination span {
  font-size: 2em;
  color: #205790;
}
.pagination li > a,
.pagination li:hover > a {
  border: none;
  color: #999;
  font-weight: 700;
  font-size: 1.5em;
  background: transparent;
}
.pagination li.active a,
.pagination li.active:hover a {
  font-weight: bold;
  background: transparent;
  color: #205790;
}
.content {
  padding-bottom: 50px;
}
.content .content-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .content .content-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.content .content-title {
  margin: 0;
  padding: 15px 0;
  font-weight: 700;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #205790;
}
.content .filters {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .content .filters {
    text-align: right;
  }
  .content .filters .form-group {
    margin-left: 25px;
  }
}
.content .filters label {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  color: #205790;
}
.content .filters select {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  background: #d0d0d0;
}
@media screen and (min-width: 768px) {
  .content .filters select {
    width: initial;
    height: initial;
  }
}
/*# sourceMappingURL=products.css.map */