.page-header {
  margin: 0;
  background: url("../images/page-title.jpg") center no-repeat;
  background-size: cover;
}
.page-header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 130px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.form-group label {
  font-weight: 100;
  color: #222;
}
.form-control:not([type="checkbox"]):not([type="radio"]):not(.input-newsletter) {
  box-shadow: none;
  border-radius: 0;
}
.form-control:not([type="checkbox"]):not([type="radio"]):not(.input-newsletter):focus {
  outline: none;
  box-shadow: none;
}
.btn {
  position: relative;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn.is-loading {
  color: transparent;
  border-color: #0a63c1;
  background-color: #0a63c1;
}
.btn.has-error {
  border-color: #ff6347;
  background-color: #ff6347;
}
.btn.is-loading::before {
  width: 25px;
  height: 25px;
  content: '';
  top: 50%;
  left: 50%;
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: transparent;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}
@media screen and (min-width: 768px) {
  .btn {
    width: auto;
  }
}
.btn-warning {
  border-color: #ff9e0f;
  background-color: #ff9e0f;
}
.btn-warning:hover {
  border-color: #e68900;
  background-color: #e68900;
}
.checkbox-inline {
  margin-right: 15px;
  vertical-align: text-top;
}
@media screen and (max-width: 600px) {
  .checkbox-inline {
    display: block !important;
    margin-left: 0 !important;
  }
}
.checkbox-inline input {
  width: 15px;
  height: 15px;
}
.form-upload input {
  display: none;
}
.form-inline .btn {
  width: auto;
}
.input-replacement {
  width: 100%;
  display: flex;
  padding-left: 35px;
  align-items: center;
  justify-content: flex-start;
  line-height: 35px;
  border: 1px solid #ddd;
  background: url("../images/icons/upload.png") 15px center no-repeat;
}
.input-replacement .input-button {
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  color: #666;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ddd;
}
@media screen and (max-width: 600px) {
  .input-replacement .input-button {
    width: calc(100% - 5px);
  }
}
.input-replacement small {
  display: none;
  color: #999;
}
@media screen and (min-width: 600px) {
  .input-replacement small {
    display: initial;
  }
}
.text {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: 700;
  color: #205790;
  text-transform: uppercase;
}
.text p,
.text li,
.text span,
.text em,
.text strong {
  font-size: 1.2em;
  line-height: 1.5;
  color: #222;
}
.text ul {
  padding-left: 0;
  list-style: inside disc;
}
.text ul ul {
  padding-left: 15px;
  list-style: inside circle;
}
.text ul ul li {
  font-size: 1em;
}
.text img,
.text video,
.text iframe {
  display: block;
  max-width: 100%;
}
.register {
  padding-top: 70px;
  padding-bottom: 70px;
}
.auth-box {
  padding: 25px 30px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
}
.auth-box h2 {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 1.6em;
  color: #205790;
}
.checkbox-inline {
  margin-bottom: 25px;
}
.checkbox-inline p {
  font-size: 0.9em;
}
@media screen and (min-width: 768px) {
  .checkbox-inline p {
    font-size: 1.2em;
  }
}
.checkbox-inline a {
  text-decoration: underline;
}
.checkbox-inline:hover {
  text-decoration: none;
}
.form-cep {
  display: flex;
}
.form-cep .btn {
  width: 150px;
  margin-left: 5px;
  text-align: center;
}
.form-cep input {
  display: inline-block;
  width: calc(100% - 155px) !important;
}
.md-content {
  display: block;
  padding: 25px 30px;
}
/*# sourceMappingURL=register.css.map */